body {
    font-family: 'Hero', sans-serif;
    font-size: 18px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./img/background.png) no-repeat;
    background-size: cover;
}
.order {
    width: 768px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
%input-styles {
    outline: none;
    border: none;
    display: block;
    width: 100%;
    height: 50px;
    transform: skew(45deg);
    background: transparent;
    font-weight: bold;
    line-height: 50px;
}
.notice {
    position: absolute;
    padding: 5px;
    top: 100px;
    font-weight: bold;
    animation: appear 1s;
    font-size: 1.2em;
    text-align: center;
}
.notice_success {
    color:#50C878;
}
.notice_error {
    color:#00008B;
}
@keyframes appear {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.form {
    display: flex;
    width: 80%;
    &__input {
        @extend %input-styles;
    }
    &__submit {
        @extend %input-styles;
        color:#FFF;
        cursor: pointer;
    }
    &__section {
        transform: skew(-45deg);
        border: 3px solid #FFF;
        &_input {
            flex-grow: 2;
            background: rgba(255, 255, 255, 0.5);
            padding-left: 25px;
        }
        &_submit {
            flex-grow: 1;
            background: #50C878;
            cursor: pointer;
        }
        &_disabled {
            background: #EE4B2B;
        }
    }
}
@media (max-width:768px) {
    .order {
        width:100%;
    }
    .form {
        &__section {
            transform: skew(0deg);
        }
        &__input, &__submit {
            transform: skew(0deg);
        }
    }
}
@media (max-width:460px) {
    .fa-solid {
        display: none;
    }
    .fa-cart-shopping {
        display: none;
    }
}